        body, html {
            height: 100%;
            margin: 0;
            
            
          
        }

        .container {
            
            background-image: 
                              url('thumbnails/stack-of-coins-and-indian-currency-notes-on-laptop-key-board.webp');
            
            background-size: cover;
            background-position: center;
            height: 100%; 
            
            
            display: flex;
            justify-content: center;
            align-items: center;
        }

        
        .calculator-card {
            background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(7px); 
    border: 5px solid rgba(0, 0, 0, 0.3); 
    border-radius: 200px;
            padding: 100px;
           font-family:'Times New Roman', Times, serif;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
            width: 450px;
            height: 396px;
            text-align: center;
            transition: transform 0.3s ease;
            align-self: center;
            

        }
       

.calculator-card:hover {
    transform: translateY(-10px); 
    
}
        input {
            width: 90%;
            height: 25px;

            padding: 10px;
            margin: 10px 0;
            border: 1px solid #a09696;
            border-radius: 15px;
        }

        button {
            background-color: #7eebac;
            color: rgb(5, 0, 0);
            border: none;
            padding: 10px 20px;
            border-radius: 15px;
            cursor: pointer;
            font-weight: bold;
            width: 250px;
            height: 60px;
            transition: background-color 1s;
            font-size: 17px;
        
        }
            

button:hover{
  color: rgb(97, 97, 245);
}
button:active{
  opacity: 0.7;
}